@model Diplom.Test1

@{
    ViewData["Title"] = "Details";
}

<h1>Информация о тесте</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TestId">Редактировать</a> |
    <a asp-action="Index">Обратно с списку тестов</a>
</div>
