@model Diplom.Tutor

@{Layout = "_LayoutTutor";}

<h1>Информация профиля</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LogIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LogIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassWord)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassWord)
        </dd>



    </dl>
    <form asp-action="ChangePassword" asp-controller="Tutor">
        <label>Сменить пароль</label><br />
        <input type="text" name="password" required />
        <input type="submit" value="Сменить" />
    </form>
</div>
<div>

</div>
